  <mat-form-field appearance="outline" class="d-block">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Enter your name" type="text">
  </mat-form-field>

  <mat-form-field appearance="outline" class="d-block">
    <mat-label>Email Address</mat-label>
    <input matInput placeholder="Enter your email address" type="text">
  </mat-form-field>

  <mat-form-field appearance="outline" class="d-block">
    <mat-label>Telephone</mat-label>
    <input matInput placeholder="Enter your telephone number" type="tel">
  </mat-form-field>



<div class="form-group">
  <label>Type of support</label>
  <select class="form-control">
    <option value="1">PC Build</option>
    <option value="2">IT Consulation</option>
    <option value="3">General Support</option>
    <option value="4">Website</option>
  </select>
</div>


