<div class="container-fluid p-3 bg-primary text-white">
  <div class="container">

    <!-- desktop header -->
    <div class="row d-none d-md-block">
      <div class="col-12 d-flex flex-row align-items-center">
        <div>
          <h1 class="h3">Logo</h1>
        </div>

        <div class="ml-auto">

          <!--
            <p class="m-0 d-inline-block mx-3">
              01952 203102
            </p>
          -->
          
          <button class="btn btn-outline-warning">
            Make an Enquiry <fa-icon [icon]="faRocket"></fa-icon>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
