<div class="container">  
  <div class="row d-flex flex-row align-items-center">
    <div class="col-12 col-sm-12 col-lg-5 text-lg-right px-4">
      <img class="img-responsive mx-3" src="assets/img/Jordan.png" />

    </div>
    <div class="col-12 col-sm-12 col-lg-6 bg-light p-4 shadow">
      <p>About Me</p>
      <p class="h5 text-primary">Your friendly, neighbourhood IT guy</p>
      <p>
        Helping local people and small businesses.I offer various forms of
        technical support.
      </p>

      <div class="d-block border-left border-primary bg-primary p-2 text-white">
        <p class="small">Latest Project</p>
        <p class="h5 m-0">PC Build for Sean</p>
      </div>

    </div>
  </div>
</div>
